{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
  ],
  "extends": [
    "prettier",
    "eslint:recommended",
    "plugin:@typescript-eslint/all",
    "plugin:prettier/recommended",
  ],
  "rules": {
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/no-magic-numbers": "off",
    "@typescript-eslint/prefer-readonly-parameter-types": "off",
    "@typescript-eslint/no-floating-promises": "off",
    "@typescript-eslint/no-extraneous-class": "off",
    "@typescript-eslint/no-type-alias": "off",
    "@typescript-eslint/no-parameter-properties": "off"
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".ts",
        ".tsx"
      ]
    },
  },
  "parserOptions": {
    "project": [
      "tsconfig.json"
    ]
  }
}